@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --cream: #fff2c2;
  --pink: #ff6fae;
  --dark: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--cream);
  color: var(--dark);
}

/* NAVBAR */
.navbar {
  background: white !important;
  padding: 15px 30px;
}

.navbar a {
  color: var(--dark) !important;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--pink) !important;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("../images/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero-text {
  background: rgba(255, 242, 194, 0.85);
  padding: 40px;
  border-radius: 12px;
}

.hero h1 {
  font-size: 48px;
  color: var(--pink);
  font-weight: 600;
}

.hero h2 {
  font-size: 32px;
}

.btn-pink {
  background: var(--pink);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
}

.btn-pink:hover {
  background: #ff4f9a;
}

/* SECTION */
.section {
  padding: 80px 10%;
}

.section h2 {
  color: var(--pink);
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background: var(--dark);
  color: white;
  text-align: center;
  padding: 20px;
}
.card-title {
  color: var(--pink);
  font-weight: 600;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  height: 250px;
  object-fit: cover;
}
.price {
  color: #e75480;
  font-weight: 600;
  font-size: 18px;
}
